

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" /><title>
	
    Falcon, 11/15 Kardan Loop | Harcourts Mandurah | Harcourts

</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<base href="http://harcourts.com.au" />
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&language=en-AU"></script>

<link href="../../../../Css/Harcourts.0227.0.1194.en-AU.css" type="text/css" rel="Stylesheet" media="screen" />
<script src="/Scripts/Harcourts.0227.0.1194.en-AU.js" type="text/javascript"></script>

<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/Css/IE6.css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/Css/IE7.css" media="screen" /><![endif]-->
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="/Css/IE8.css" media="screen" /><![endif]-->
<!--[if IE 9]><link rel="stylesheet" type="text/css" href="/Css/IE9.css" media="screen" /><![endif]-->
<link rel="shortcut icon" href="/favicon.ico" />

    
	<link rel="canonical" href="http://www.harcourts.com.au/Property/638592/WMU28566/11-15-Kardan-Loop" />
    <meta name="title" content="Falcon,&#32;11/15&#32;Kardan&#32;Loop&#32;|&#32;Harcourts&#32;Mandurah&#32;|&#32;Harcourts" />
	<meta name="description" content="-Quiet&#32;location&#32;right&#32;in&#32;the&#32;heart&#32;of&#32;Falcon&#10;-Survey&#32;strata&#32;water&#32;front&#32;development&#32;&#10;-Turnkey&#32;townhouse&#32;packages&#32;available&#32;on&#32;request&#10;-Only&#32;metres&#32;from&#32;the&#32;waters&#32;edge,&#32;the&#32;perfect&#32;getaway&#10;&#10;This..." />
	<link rel="image_src" href="http://photos.harcourts.com.au/V2/000/008/529/176-WMU28566-Peel.jpg" />
    <link rel="Stylesheet" media="print" href="/Css/print.css" />

</head>
<body class="residential ">
    <div class="skip">Welcome to Harcourts, Real Estate For Sale, Land and Homes for Sale, Rentals and Commercial Leasing. Skip directly to: <a href="#content">Main Content</a>, <a href="#catnav">Navigation</a>, <a href="#searchKeyword">Search Box</a>.</div>
    <div class="pageWrap">    
        <div id="page">
            <div id="topNav">
                <div id="siteSwitcher">
                    <ul id="sitedropBox">
    <li>
        <a href="http://www.harcourts.net" class="siteSelectDrop">Harcourts Global</a>
        <ul>
            <li class="countryNZ"><a href="http://www.harcourts.co.nz">Harcourts New Zealand</a></li>
            <li class="countryAUS"><a href="http://www.harcourts.com.au">Harcourts Australia</a></li>
            <li class="countrySA"><a href="http://www.harcourts.co.za">Harcourts South Africa</a></li>
            <li class="countryCHN"><a href="http://www.harcourts.cn">Harcourts China</a></li>
            <li class="countryFJ"><a href="http://www.harcourts.com.fj">Harcourts Fiji</a></li>
            <li class="countryIND"><a href="http://www.harcourts.co.id">Harcourts Indonesia</a></li>
            <li class="countryZA"><a href="http://www.harcourts.co.za">Harcourts Zambia</a></li>
            <li class="countryUSA"><a href="http://www.harcourtsusa.com">Harcourts USA</a></li>
            <li class="countryHK"><a href="http://www.harcourts.hk/">Harcourts Hong Kong</a></li>
            <li class="siteNAI"><a href="http://www.naiharcourts.com.au">NAI Harcourts Australia</a></li>
            <li class="countryINT"><a href="http://www.harcourts.net">Harcourts International</a></li>
            <li class="siteOne"><a href="http://luxurypropertyselection.com">Harcourts Luxury Properties</a></li>
            <li class="siteOne"><a href="http://one.harcourts.com.au">Harcourts Member Access</a></li>
        </ul>
    </li>
</ul>
<div class="countryCurrent siteAUS">
    Harcourts <span>Australia</span>
</div>

                </div>
                <ul id="myAccountNav">
                    <li class="user">Welcome, <span>Guest</span></li><li id="shortlistTotal"><a href="/MyAccount/Shortlist">My Shortlist</a><span style="display:none;">(<strong></strong>)</span></li><li><a href="/MyAccount/Register">Register</a></li><li><a href="/MyAccount/Logon">Login</a></li>
                </ul>
            </div>
            <div id="header">
                <div id="header">
    <a id="logo" class="btn" title="Harcourts - Real Estate For Sale, Land and Homes for Sale, Rentals and Commercial Leasing" href="/">
        <img src="/Images/logo.png"><span>Harcourts - Real Estate For Sale, Land and Homes for Sale, Rentals and Commercial Leasing</span>
    </a>

    <div class="headerNavWrap">
        <ul id="infoNav">
            <li><a href="http://content.harcourts.com.au/content/ourservices">Our Services</a></li>
            <li><a href="http://content.harcourts.com.au/content/aboutus">About Us</a></li>
            <li><a href="http://content.harcourts.com.au/careers">Join Us</a></li>
            <li><a href="/Offices">Find Offices/People</a></li>
            <li><a href="http://content.harcourts.com.au/news" target="hctnewsroom">News</a></li>
            <li class="last"><a href="http://content.harcourts.com.au/blog">Blog</a></li>
        </ul>
        <a href="http://content.harcourts.co.nz/content/history" title="Harcourts Established In 1888" class="headerFeatBtn">Harcourts Established In 1888</a>

        <ul id="catnav">
            <li class="home"><a title="Home" class="btn" href="/">Home</a></li>
            <li class="residential"><a class="btn" href="/Property/Residential">Residential</a></li>
            <li class="rentals"><a class="btn" href="/Property/Rentals">Rentals</a></li>
            <li class="commercial"><a class="btn" href="http://www.naiharcourts.com.au/Property/Commercial">Commercial</a></li>
            <li class="rural"><a class="btn" href="/Property/Rural">Rural</a></li>
            <li class="business"><a class="btn" href="http://www.naiharcourts.com.au/Property/Businesses">Business</a></li>
        </ul>
    </div>
</div>
            </div>
            
    
    <ul id="breadcrumb"><li>Browse:</li><li><a href="/">Home</a></li><li><a href="/Property/Residential">Residential Property for Sale</a></li><li><a href="/Property/Residential/Land">Land</a></li><li><a href="/Property/Residential/Land/Western-Australia">Western Australia</a></li><li><a href="/Property/Residential/Land/Peel">Peel</a></li><li><a href="/Property/Residential/Land/Falcon">Falcon</a></li></ul>

    <div class="contentGroup">
        <div id="leftCol">
            
    

<form  id="srchform" name="search"  class="residential" action="/Property/Residential" method="get">
    <input id="pageid" name="pageid" type="hidden" value="-1" />
    <ul class="leftColSearch">
        <li class="searchHead">
            <label for="searchKeyword">Search Residential</label>
        </li>
        

<li>
    <input type="text" id="searchKeyword" name="search" class="helpInput" title="suburb, postcode, listing #" value="" />
    <input type="hidden" name="formsearch" value="true" />
    <input type="hidden" id="originalTermText" name="OriginalTermText" value="" />
    <input type="hidden" id="originalLocation" name="OriginalLocation" value="5095" />

</li>
<li>
    <input type="hidden" name="location" value="5095"/><ul id="locations"><li class="region"><select><option value="">all regions</option><option value="500451">Australian Capital Territory</option><option value="23002">New South Wales</option><option value="23007">Northern Territory</option><option value="23001">Queensland</option><option value="23003">South Australia</option><option value="23005">Tasmania</option><option value="23006">Victoria</option><option value="23004" selected="selected">Western Australia</option></select></li><li class="town"><select><option value="">all districts</option><option value="22064">Central Coast</option><option value="500303">Central Wheat Belt</option><option value="24224">Christmas Island</option><option value="500310">Eastern Wheat Belt</option><option value="22065">Goldfields</option><option value="500299">Great Southern</option><option value="500307">Mid West</option><option value="500308">Midlands</option><option value="22066">North</option><option value="500306">Northern Wheat Belt</option><option value="500309">Pastoral</option><option value="500302" selected="selected">Peel</option><option value="24147">Perth - Perth Metro</option><option value="500305">South Coast</option><option value="500304">South Eastern Wheat Belt</option><option value="22068">South West</option><option value="500301">Upper Great Southern</option></select></li><li class="suburb"><select><option value="">all suburbs</option><option value="5056">Barragup</option><option value="5062">Bouvard</option><option value="5079">Coolup</option><option value="5085">Dawesville</option><option value="5088">Dudley Park</option><option value="5095" selected="selected">Falcon</option><option value="5099">Furnissdale</option><option value="5112">Halls Head</option><option value="7112">Jarrahwood</option><option value="5124">Lake Clifton</option><option value="6480">Madora Bay</option><option value="5132">Mandurah</option><option value="5137">Meadow Springs</option><option value="5148">Myalup</option><option value="6882">North Dandalup</option><option value="5153">North Yunderup</option><option value="5162">Pinjarra</option><option value="5164">Preston Beach</option><option value="6886">Ravenswood</option><option value="5171">San Remo</option><option value="5176">Silver Sands</option><option value="5179">South Yunderup</option><option value="6304">Upper Murray</option><option value="7393">Wagerup</option><option value="5192">Wannanup</option><option value="5194">Waroona</option><option value="6890">West Pinjarra</option><option value="6547">Yarloop</option></select></li></ul>
    <ul><li><select id="proptype" name="proptype"><option value="">All property types</option><option value="1">Acreage/semi rural</option><option value="2">Alpine</option><option value="3">Apartment</option><option value="4">Block of units</option><option value="5">Duplex/semi detach</option><option value="6">Flat</option><option value="7">House</option><option value="61">House boat</option><option value="16" selected="selected">Land</option><option value="8">Retirement living</option><option value="9">Serviced apartment</option><option value="10">Studio</option><option value="11">Terrace</option><option value="12">Townhouse</option><option value="13">Unit</option><option value="14">Villa</option><option value="15">Warehouse</option></select></li></ul>
</li>
<script type="text/javascript">
    $(function() { listing_SearchForm.initCommon(); });
</script>


<li id="priceDropDowns" minMaxDropDowns="true" class="searchFilter">
    <label for="selectPriceMin">Price:</label>
    <select id="selectPriceMin" name="min"><option value="">Any</option><option value="0">$0</option><option value="25000">$25,000</option><option value="50000">$50,000</option><option value="75000">$75,000</option><option value="100000">$100,000</option><option value="125000">$125,000</option><option value="150000">$150,000</option><option value="175000">$175,000</option><option value="200000">$200,000</option><option value="250000">$250,000</option><option value="300000">$300,000</option><option value="350000">$350,000</option><option value="400000">$400,000</option><option value="450000">$450,000</option><option value="500000">$500,000</option><option value="550000">$550,000</option><option value="600000">$600,000</option><option value="650000">$650,000</option><option value="700000">$700,000</option><option value="750000">$750,000</option><option value="800000">$800,000</option><option value="900000">$900,000</option><option value="1000000">$1,000,000</option><option value="1250000">$1,250,000</option><option value="1500000">$1,500,000</option><option value="1750000">$1,750,000</option><option value="2000000">$2,000,000</option><option value="">Any</option></select>
    <span>to</span>
    <select class="filterMax" id="selectPriceMax" name="max"><option value="">Any</option><option value="0">$0</option><option value="25000">$25,000</option><option value="50000">$50,000</option><option value="75000">$75,000</option><option value="100000">$100,000</option><option value="125000">$125,000</option><option value="150000">$150,000</option><option value="175000">$175,000</option><option value="200000">$200,000</option><option value="250000">$250,000</option><option value="300000">$300,000</option><option value="350000">$350,000</option><option value="400000">$400,000</option><option value="450000">$450,000</option><option value="500000">$500,000</option><option value="550000">$550,000</option><option value="600000">$600,000</option><option value="650000">$650,000</option><option value="700000">$700,000</option><option value="750000">$750,000</option><option value="800000">$800,000</option><option value="900000">$900,000</option><option value="1000000">$1,000,000</option><option value="1250000">$1,250,000</option><option value="1500000">$1,500,000</option><option value="1750000">$1,750,000</option><option value="2000000">$2,000,000</option><option value="">Any</option></select>
</li>


<li minMaxDropDowns="true" class="searchFilter">
    <label for="selectBedMin">Beds:</label>
    <select id="selectBedMin" name="minbed"><option value="">Any</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="">Any</option></select>
    <span>to</span>
    <select class="filterMax" id="selectBedMax" name="maxbed"><option value="">Any</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="">Any</option></select>
</li>


<li id="soldPropertiesRadios" class="searchFilter">
    <label class="typeSale"><input checked="checked" id="sold" name="sold" type="radio" value="false" /><span>For Sale</span></label>
    <label class="typeRecent"><input id="sold" name="sold" type="radio" value="true" /><span>Recent Sales</span></label>
    <script type="text/javascript">
        $(function () { listing_SearchForm.initForSaleOrSold(); });
    </script> 
</li>

            
        <li class="searchButton">
		    <input type="submit" title="Search" class="btn" value="Search" />
	    </li>
    </ul>
</form>

            <div id="leftSideBanner">
	<ul id="banners">
        <li>
            <a target="_blank" onclick="_gaq.push(['_trackEvent', 'AU Side Banner: Help Compare', 'Click', 'Help Compare']);" href="http://www.helpcompare.com.au">
                <img alt="" src="/ResourceHtml/Images/banner-help-compare.jpg" />
            </a>
        </li>
		<li>
			<a target="_blank" onClick="_gaq.push(['_trackEvent', 'AU Side Banner: Insurance', 'Click', 'Insurance']);" href="http://www.harcourtscomplete.com.au/services/insurance/">
                <img alt="" src="/ResourceHtml/en-AU/images/banner-insurance.jpg" />
			</a>
		</li>
        <li>
			<a target="_blank" onClick="_gaq.push(['_trackEvent', 'AU Side Banner: MX', 'Click', 'Mortgage Express']);" href="http://www.harcourtscomplete.com.au/services/mortgages/">
				<img alt="" src="/ResourceHtml/Images/banner-mx.jpg" />
			</a>
		</li>
        <li>
			<a target="_blank" onClick="_gaq.push(['_trackEvent', 'AU Side Banner: Strand', 'Click', 'Strand Conveyancing']);" href="http://www.harcourtscomplete.com.au/services/conveyancing/">
				<img alt="" src="/ResourceHtml/Images/banner-strand.jpg" />
			</a>
		</li>
	</ul>
</div>

            <!-- Error ! LeftSideResourceHtml has not been set -->
        </div>    
        <div id="content">
            
	

<div id="listingDetail" data-listingid="638592">
    <h1>Waterfront lifestyle....
    
    </h1>
	
	    <h2 class="detailAddress">Falcon, 11/15 Kardan Loop</h2>
	
    <div class="propFeatures">
        <h3 id="listingViewDisplayPrice">$135,000</h3>
        <ul id="detailFeatures">
            
        </ul>
    </div>
    <div id="detailMedia">
        <div id="mediaOptions">
            <ul><li class="view_photo"><a class="active"><span>Photos</span></a></li><li class="view_map "><a lat="-32.583249900000000" lng="115.665007199999990" zoom="17"><span>In the Area</span></a></li><li class="view_details hidden"><a class="iframe "><span>More Details</span></a></li><li class="view_plans hidden"><a rel="floorplans" class=""><span>Floor Plans</span></a></li><li class="view_virtual_tour hidden"><a class="iframe "><span>Virtual Tour</span></a></li><li class="view_video_tour hidden"><a class="iframe "><span>Video Tour</span></a></li></ul>           
        </div>
        <div id="mediaContainer">
            
<section class="listing-images">
    
    <span class="swipe-icon"></span>
    <div class="listing-images-carousel">
        
        <div>
            <a class="listing-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/175-WMU28566-Peel.jpg)" href="http://photos.harcourts.com.au/V2/000/008/529/175-WMU28566-Peel.jpg" rel="photos"></a>
            <span class="photo-enlarge"></span>
            <span class="photo-count">1 of 9&nbsp;</span>
        </div>
        
        <div>
            <a class="listing-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/184-WMU28566-Peel.jpg)" href="http://photos.harcourts.com.au/V2/000/008/529/184-WMU28566-Peel.jpg" rel="photos"></a>
            <span class="photo-enlarge"></span>
            <span class="photo-count">2 of 9&nbsp;</span>
        </div>
        
        <div>
            <a class="listing-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/193-WMU28566-Peel.jpg)" href="http://photos.harcourts.com.au/V2/000/008/529/193-WMU28566-Peel.jpg" rel="photos"></a>
            <span class="photo-enlarge"></span>
            <span class="photo-count">3 of 9&nbsp;</span>
        </div>
        
        <div>
            <a class="listing-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/202-WMU28566-Peel.jpg)" href="http://photos.harcourts.com.au/V2/000/008/529/202-WMU28566-Peel.jpg" rel="photos"></a>
            <span class="photo-enlarge"></span>
            <span class="photo-count">4 of 9&nbsp;</span>
        </div>
        
        <div>
            <a class="listing-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/211-WMU28566-Peel.jpg)" href="http://photos.harcourts.com.au/V2/000/008/529/211-WMU28566-Peel.jpg" rel="photos"></a>
            <span class="photo-enlarge"></span>
            <span class="photo-count">5 of 9&nbsp;</span>
        </div>
        
        <div>
            <a class="listing-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/220-WMU28566-Peel.jpg)" href="http://photos.harcourts.com.au/V2/000/008/529/220-WMU28566-Peel.jpg" rel="photos"></a>
            <span class="photo-enlarge"></span>
            <span class="photo-count">6 of 9&nbsp;</span>
        </div>
        
        <div>
            <a class="listing-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/229-WMU28566-Peel.jpg)" href="http://photos.harcourts.com.au/V2/000/008/529/229-WMU28566-Peel.jpg" rel="photos"></a>
            <span class="photo-enlarge"></span>
            <span class="photo-count">7 of 9&nbsp;</span>
        </div>
        
        <div>
            <a class="listing-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/238-WMU28566-Peel.jpg)" href="http://photos.harcourts.com.au/V2/000/008/529/238-WMU28566-Peel.jpg" rel="photos"></a>
            <span class="photo-enlarge"></span>
            <span class="photo-count">8 of 9&nbsp;</span>
        </div>
        
        <div>
            <a class="listing-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/247-WMU28566-Peel.jpg)" href="http://photos.harcourts.com.au/V2/000/008/529/247-WMU28566-Peel.jpg" rel="photos"></a>
            <span class="photo-enlarge"></span>
            <span class="photo-count">9 of 9&nbsp;</span>
        </div>
        
    </div>

    <div class="listing-images-carousel-thumbs">
        
        <div>
            <div class="thumb-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/176-WMU28566-Peel.jpg)"></div>
        </div>
        
        <div>
            <div class="thumb-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/185-WMU28566-Peel.jpg)"></div>
        </div>
        
        <div>
            <div class="thumb-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/194-WMU28566-Peel.jpg)"></div>
        </div>
        
        <div>
            <div class="thumb-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/203-WMU28566-Peel.jpg)"></div>
        </div>
        
        <div>
            <div class="thumb-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/212-WMU28566-Peel.jpg)"></div>
        </div>
        
        <div>
            <div class="thumb-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/221-WMU28566-Peel.jpg)"></div>
        </div>
        
        <div>
            <div class="thumb-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/230-WMU28566-Peel.jpg)"></div>
        </div>
        
        <div>
            <div class="thumb-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/239-WMU28566-Peel.jpg)"></div>
        </div>
        
        <div>
            <div class="thumb-image" style="background-image: url(http://photos.harcourts.com.au/V2/000/008/529/248-WMU28566-Peel.jpg)"></div>
        </div>
        
    </div>

</section>

<section class="listing-images-modal">
    
    <span class="swipe-icon"></span>
    <div class="listing-images-modal-carousel" tabindex="-1" autofocus="true">
        
                <div class="">
            
                    <img src="http://photos.harcourts.com.au/V2/000/008/529/174-WMU28566-Peel.jpg" alt="" width="1024" height="683" />
                    <span class="photo-count">1 of 9&nbsp;</span>
                </div>
            
                <div class="carousel-pictures">
            
                    <img src="http://photos.harcourts.com.au/V2/000/008/529/183-WMU28566-Peel.jpg" alt="" width="1024" height="683" />
                    <span class="photo-count">2 of 9&nbsp;</span>
                </div>
            
                <div class="carousel-pictures">
            
                    <img src="http://photos.harcourts.com.au/V2/000/008/529/192-WMU28566-Peel.jpg" alt="" width="1024" height="683" />
                    <span class="photo-count">3 of 9&nbsp;</span>
                </div>
            
                <div class="carousel-pictures">
            
                    <img src="http://photos.harcourts.com.au/V2/000/008/529/201-WMU28566-Peel.jpg" alt="" width="690" height="507" />
                    <span class="photo-count">4 of 9&nbsp;</span>
                </div>
            
                <div class="carousel-pictures">
            
                    <img src="http://photos.harcourts.com.au/V2/000/008/529/210-WMU28566-Peel.jpg" alt="" width="1024" height="577" />
                    <span class="photo-count">5 of 9&nbsp;</span>
                </div>
            
                <div class="carousel-pictures">
            
                    <img src="http://photos.harcourts.com.au/V2/000/008/529/219-WMU28566-Peel.jpg" alt="" width="950" height="500" />
                    <span class="photo-count">6 of 9&nbsp;</span>
                </div>
            
                <div class="carousel-pictures">
            
                    <img src="http://photos.harcourts.com.au/V2/000/008/529/228-WMU28566-Peel.jpg" alt="" width="1024" height="576" />
                    <span class="photo-count">7 of 9&nbsp;</span>
                </div>
            
                <div class="carousel-pictures">
            
                    <img src="http://photos.harcourts.com.au/V2/000/008/529/237-WMU28566-Peel.jpg" alt="" width="1024" height="576" />
                    <span class="photo-count">8 of 9&nbsp;</span>
                </div>
            
                <div class="carousel-pictures">
            
                    <img src="http://photos.harcourts.com.au/V2/000/008/529/246-WMU28566-Peel.jpg" alt="" width="1024" height="576" />
                    <span class="photo-count">9 of 9&nbsp;</span>
                </div>
            
    </div>
    <div class="listing-images-modal-carousel-button" tabindex="-1">
        <button type="button" data-role="none" class="slick-prev">Previous</button>
        <button type="button" data-role="none" class="slick-next">Next</button>
        <button type="button" data-role="none" class="slick-play">Play</button>
    </div>
</section>

                        <script type='text/javascript'>
                            var ws_wsid = 'a7f3c285aa3343a4bcb0615f1cc33e8f';
                            var ws_width = $('#detailMedia').width();
                            var ws_height = 420;
                            var ws_layout = 'horizontal';
                            var ws_hide_footer = 'true';
                            var ws_lat='-32.583249900000000';
                            var ws_lon='115.665007199999990';
                            var ws_map_zoom = 17;
                            var ws_map_icon_type = 'custom';
                            var ws_custom_pin = 'http://www.harcourts.com.au/Images/harcourts-marker.png';
                            var ws_distance_units = 'km';
                            var ws_commute = 'true';
                            var ws_transit_score = 'false';
                            var ws_map_modules = 'google_map,birds_eye';
                            var ws_no_link_info_bubbles = 'true';
                            var ws_no_link_score_description = 'true';
                            var ws_hide_scores_below = '101';
                            var ws_hide_bigger_map = 'true';
                            var ws_disable_street_view = 'false';
                            var ws_show_reviews = 'false';
                            var ws_industry_type = 'residential';
                            var ws_category_color = '#2a81c7';
                            var ws_result_color = '#444';
                        </script>
                        <section id="mapView" class="walkscore-map hidden" iswalkscoremap="true">
	                        <div id='ws-walkscore-tile'></div>
                        </section>
                        <script type='text/javascript' src='http://www.walkscore.com/tile/show-walkscore-tile.php'></script>             
        </div>
    </div>
    <ul class="userOptions">
        <li class="listingInfo">
            <span>
                <strong>Listing Number:</strong> WMU28566
                
            </span>
            <a class="print tooltip" title="Print Page" href="javascript:window.print()"></a>
        </li>
        <li class="listingAdd" listingID="638592">
            <span>
                
                <a class="shortlist wide" style="display: none;">add to my shortlist</a>
                
                <span class="sharethis">
                    <span class="st_sharethis" displaytext="ShareThis" title="ShareThis via email, AIM, social bookmarking and networking sites, etc."></span>
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">
                        stLight.options(
                            {
                                publisher: "d172640e-ef06-4493-a45f-3e3ee125a45c",
                                version: "4x", // Forcibly use old version (Direct Post).
                                lang: _resources.shareThisLanguage
                            });
                    </script>
                </span>
                
            </span>
        </li>
    </ul>
    <div class="listDetailWrapper">        
        <div class="left-column">
            <div id="propFeatures">
                <table summary="Property Information" class="tableFeat">
                    <thead>
                        <tr><th>Property Information</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="internetBody">
                                
                                
                                <div>-Quiet location right in the heart of Falcon<br/>-Survey strata water front development <br/>-Turnkey townhouse packages available on request<br/>-Only metres from the waters edge, the perfect getaway<br/><br/>This survey -strata townhouse development boasts an enviable location adjoining the Peel-Harvey Estuary foreshore and parklands in the popular beachside suburb of Falcon. <br/><br/>It offers walking and cycle paths literally on your doorstep. Launch a canoe or small boat from the boat ramp directly in front of this magnificent site or try your hand at catching some crabs in the shallows just meters from your front door. <br/><br/>Only 400m from the Miami Plaza Shopping Centre, Cobblers Tavern, IGA, Woolworths and a range of specialty stores, fast food outlets and services.<br/>There are only 48 residential lots on this site and with many of them already sold and under construction, now is the time to pick up your own piece of the Mandurah at &quot;The Waterfront&quot;<br/><br/>Lot 4 is a 161m2 that enjoys a northerly aspect backing on to Olive Road with direct access to the footpath. <br/><br/>To secure this site, <br/><br/>Call Gary on 0418 918 528 or Tess on 0408 444 841<br/></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
               </div>            
                
            <div class="featuresOuter">
                <table class="features"><tr><td class="name">Land Size</td><td class="value">161 sqm</td></tr><tr class="alt"><td class="name">Property Type</td><td class="value">Land</td></tr></table>
                
                    
                <!-- Decide whether to show the contact details and enquiry form separately -->
                <!-- This is used for displaying external agent info below the left hand panel rather -->
                <!-- than in the right hand panel -->
                <!-- Display the courtesy of section if there is a disclaimer -->
                 

                <!-- Courtesy Of Details -->
                
                    
                <!-- Listing Information Provided By -->
                
            </div>            
            <br />

                                       
         </div>
        
        <div class="right-column">
            <div id="14_pnlRightSidePanelMerged" class="agentInfo">
	            
                <h2>Contact Details</h2>
                <div class="agentinfoContent">
                    

<ul class="agentDetail">
    
		<li class="agentPhoto">
			
			<a href="/People/25803/Gary-Daglish">
			
			<img src="http://photos.harcourts.com.au/V2/000/001/335/182-Gary-Daglish.jpg" alt="" />
			
				</a>
			
		</li>
	
    <li class="agentContent">
        <h3>
            <a href="/People/25803/Gary-Daglish">Gary Daglish</a>
        </h3>
        
        <dl>
            
                <dt class="dLarge">mob:</dt>
                <dd class="dLarge"><a href="tel:0418 918 528">0418 918 528</a></dd>
            
                <dt class="dLarge">ph:</dt>
                <dd class="dLarge"><a href="tel:9581 9999">9581 9999</a></dd>
                        
        </dl>
        <div class="agentpages">
            <a href="mailto:gary.daglish@harcourtsmandurah.com.au">email me</a><br /><a href="/People/25803/Gary-Daglish">view my listings</a>
        </div>
        
    </li>
</ul>

    <div class="officeDetailInternal">


    <div class="officeName">
        <h2>
        <a href="/Offices/191023/Harcourts-Mandurah">Harcourts Mandurah</a>
        </h2> 

        
    </div>
    
    <address>
        Unit 1, 325 Pinjarra Road<br/>Mandurah
    </address>
    <a href="http://www.mandurah.harcourts.com.au" class="url" target="_blank" title="Go&#32;to&#32;the&#32;Harcourts&#32;Mandurah&#32;website">Office website</a>
    
</div>


<form id="formEnquiry" action="http://enquiry.harcourts" method="post" errormessageprefix="There are errors in your enquiry:" errormessagesuffix="Please correct the errors and try again.">
	<input name="recipientType" type="hidden" value="Staff" />
	<input name="recipientID" type="hidden" value="25803" />
	<input name="listingNumber" type="hidden" value="WMU28566" />
	<input name="listingStreetAddress" type="hidden" value="11/15 Kardan Loop" />
	<input name="captchaKey" type="hidden" value="" />
    
        <h3>Ask this Consultant a Question</h3>
    
    <ul id="askAgent">
		<li class="frmName">
			<label for="name">Your Name</label>
			<input type="text" name="name" isrequired="true" errormessage="Your name is required" regex="^[a-zA-Z0-9\._\-\x20']{2,100}$" regexerrormessage="Your name must be at least 2 characters long and contain valid characters. Please enter your name as you would like to be addressed." value="" />
		</li>
		<li class="frmEmail">
			<label for="email">Your Email Address</label>
			<input type="text" name="emailAddress" isrequired="true" errormessage="Your email address is required" regex="\w.*@\w+([-.]\w+)*\.\w+([-.]\w+)*" regexerrormessage="Invalid email address" value="" />
		</li>
		<li class="frmPhone">
			<label for="phone">Your Contact Number</label>
			<input type="text" name="contactNumber" />
		</li>
		<li class="frmEnquiry">
			<label for="enq">Your Enquiry</label>
			<textarea name="enquiryText" isrequired="true" errormessage="Your enquiry is a required field">Regarding 11/15 Kardan Loop (WMU28566)&#13;&#10;</textarea>
		</li>
		<li class="frmCaptcha">
			<label for="captcha">Please type the phrase below</label>
			<img id="imgCaptcha" class="captchaImage" src="/Images/t.gif" alt="" />
			<input name="captcha" type="text" maxlength="5" isrequired="true" errormessage="You must enter the phrase in the image" />
		</li>
		<li class="frmEnqSend">
			<button class="btn">Send</button>
		</li>
	</ul>
</form>

                </div>
            
</div>

            
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        listing_View.init();
    });

</script>            

        </div>
    </div>
    
    <!-- Start of Async HubSpot Analytics Code -->
    <script type="text/javascript">
        (function(d,s,i,r) {
            if (d.getElementById(i)){return;}
            var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
            n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/511279.js';
            e.parentNode.insertBefore(n, e);
        })(document,"script","hs-analytics",300000);
    </script>
    <!-- End of Async HubSpot Analytics Code --> 

    <!-- Server: AU-WEB03 -->

			<div id="footer">
    <ul>
        <li>
            <h2>Search</h2>
            <ul>
                <li><a href="/Property/Residential">Residential Property for Sale</a></li>
                <li><a href="/Property/Rural">Rural Property for Sale</a></li>
                <li><a href="/Property/Rentals">Rental Property</a></li>
                <li><h2 style="padding: 5px 0pt 2px;">NAI Harcourts</h2></li>
                <li><a href="http://www.naiharcourts.com.au/Property/Commercial">Commercial Property for Sale</a></li>
                <li><a href="http://www.naiharcourts.com.au/Property/Commercial?sale=false">Commercial Property for Lease</a></li>
                <li><a href="http://www.naiharcourts.com.au/Property/Businesses">Business</a></li>
            </ul>
        </li>
        <li>
            <h2>Resources</h2>
            <ul>
                <li><a href="http://www.mortgage-express.com.au/">Financial Services</a></li>
                <li><a href="http://www.mortgage-express.com.au/tools/home-loan-repayment-calculator/">Loan Calculator</a></li>
                <li><a href="http://www.strandconveyancing.com/">Strand Conveyancing Services</a></li>
                <li><a href="http://content.harcourts.com.au/Content/Free-Market-Appraisal">Value your Property</a></li>
                <li><a href="http://content.harcourts.com.au/news">Latest Harcourts News</a></li>
            </ul>
        </li>
        <li>
            <h2>Harcourts</h2>
            <ul>
                <li><a href="http://ebooks.harcourts.net/?__hstc=213953160.9c908b72df9e3c0a55177f2992d723c4.1435612854957.1436324995027.1436327610891.8&__hssc=213953160.5.1438660112177&__hsfp=762532846#AustralianEditions">eBluebook</a></li>
                <li><a href="http://content.harcourts.com.au/careers">Careers</a></li>
                <li><a href="http://www.harcourts.net/academy/?__hstc=213953160.d52c359e3becf900caa9f9db168d9939.1438224934210.1438571862683.1438659883647.13&__hssc=213953160.7.1438659883647&__hsfp=3148276296">Academy</a></li>
                <li><a href="http://www.harcourtscomplete.com.au/">Harcourts Complete</a></li>
                <li><a href="http://www.harcourtsfoundation.org">Harcourts Foundation</a></li>                
                <li><a href="http://content.harcourts.com.au/careers/franchise-opportunities">Franchise Opportunities</a></li>
                <li><a href="http://news.harcourts.net/people/category/australian-team/?__hstc=213953160.d52c359e3becf900caa9f9db168d9939.1438224934210.1438571862683.1438659883647.13&__hssc=213953160.7.1438659883647&__hsfp=3148276296">Meet the Team</a></li>
            </ul>
        </li>
        <li>
            <h2>Sections</h2>
            <ul>
                <li><a href="http://content.harcourts.com.au/Content/AboutUs">About Us</a></li>
                <li><a href="http://content.harcourts.com.au/Content/OurServices">Services</a></li>
                <li><a href="http://content.harcourts.com.au/Content/Property-Management">Property Management Services</a></li>
                <li><a href="/Offices">Harcourts Offices / People</a></li>
                <li><a href="http://content.harcourts.com.au/news">News</a></li>
                <li><a href="http://content.harcourts.com.au/blog">Blog</a></li>
            </ul>
        </li>
    </ul>
    <div class="footerLogos">
      <div>
            <h2><a href="http://www.luxurypropertyselection.com" class="logoLuxury btn" title="Luxury Homes for Sale Luxury Real Estate Luxury Property" target="_blank">Luxury Property Selection</a></h2>
            <h2><a href="http://www.harcourtscomplete.com.au/" title="Harcourts Complete | Connections, Conveyancing, Home Loans and Insurance" class="logoHComplete btn" target="_blank">Harcourts Complete</a></h2>
            <h2><a href="http://www.harcourtsfoundation.org/" title="Harcourts Foundation" class="logoFoundation btn" target="_blank">Harcourts Foundation</a></h2>
        </div>
    </div>
    <p class="copyrightInfo">
        &copy; 2015 Harcourts International Ltd, Inc. All rights reserved. <br/>
        <a href="http://content.harcourts.com.au/Content/PrivacyPolicy">Privacy Policy</a> <span>|</span> 
        <a href="http://content.harcourts.com.au/Popup/Disclaimer">Disclaimer</a> <span>|</span> 
        <a href="/Default/ViewIn?targetBrowser=Mobile">View Harcourts Mobile Site</a>
    </p>
</div>

        </div>
    </div>
	<!-- Global Footer AU -->
<!-- Google Analytics AU -->
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1679460-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
    
    <!-- Start of Async HubSpot Analytics Code -->
    <script type="text/javascript">
        (function(d,s,i,r) {
            if (d.getElementById(i)){return;}
            var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
            n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/511279.js';
            e.parentNode.insertBefore(n, e);
        })(document,"script","hs-analytics",300000);
    </script>
    <!-- End of Async HubSpot Analytics Code --> 

    <!-- 08:26:03 -->
    <!-- Server: AU-WEB03 -->
    
    <!-- Cannot find file(s) 'ContagionTracking.html' in the following directories {'C:\Sites\AU-Public\ResourceHtml\en-AU\Website Templates', 'C:\Sites\AU-Public\ResourceHtml\en-AU', 'C:\Sites\AU-Public\ResourceHtml'}. -->
</body>
</html>

